NODE_ENV=development

# Log level
#MURAKAMI_VIZ_LOG_LEVEL=error

# Webserver host and port
#MURAKAMI_VIZ_HOST=localhost
#MURAKAMI_VIZ_PORT=3000

# Postgres database connection settings
#MURAKAMI_VIZ_DB_HOST=localhost
#MURAKAMI_VIZ_DB_PORT=5432
#MURAKAMI_VIZ_DB_DATABASE=murakami
#MURAKAMI_VIZ_DB_USERNAME=murakami
#MURAKAMI_VIZ_DB_PASSWORD=
#MURAKAMI_VIZ_DB_POOL_MIN=0
#MURAKAMI_VIZ_DB_POOL_MAX=10
#MURAKAMI_VIZ_DB_TIMEOUT=0

# Optional cloudflare access support
#MURAKAMI_VIZ_CFACCESS_URL=
#MURAKAMI_VIZ_CFACCESS_AUDIENCE=
